@import "../../../../../styles/mixins";

:host {
  display: flex;
  flex-grow: 1;
}

.project {
  position: relative;
  width: 100%;
  padding: 20px;
}

.project-container {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;

  .add-task-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #2f6ef6;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;

    svg {
      height: 16px;
      width: 16px;
    }
  }
}

.project-img {
  height: 100%;
}

.project-info {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;

  .project-address {
    @include fontSize(22px, 26px);
  }

  .project-name {
    @include fontSize(45px, 52px);
    font-weight: bold;
  }

  .project-current-plan {
    @include fontSize(120px, 140px);
    font-weight: bold;
  }

  .project-expected-plan {
    @include fontSize(42px, 50px);
  }
}

.project-date {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: auto;
  padding: 20px;
  color: white;

  .project-date-title {
    @include fontSize(52px, 60px);
    padding-bottom: 20px;
  }

  .project-date-end-value {
    padding-bottom: 15px;
  }

  .project-date-end,
  .project-date-end-value,
  .project-date-expected,
  .project-date-expected-value {
    @include fontSize(20px, 22px);
  }
}

.project-tasks {
  display: flex;
  flex-direction: column;

  .projects-tasks-bar {
    width: 100%;
    height: 100%;
  }
}

.add-task-modal-container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);

  .wrapper {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;

    .add-task {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 16px;
      align-items: center;

      h1 {
        font-size: 24px;
      }

      form {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;

        .add-task-list {
          display: grid;
          gap: 16px 16px;
          grid-template-areas:
        'name name'
        'start-date expected-end-date'
        'head person'
        'comment comment';

          input {
            border: none;
            padding: 5px 10px;
            border-radius: 4px;
          }
        }

        li {
          display: inherit;
        }

        .name {
          grid-area: name;
        }

        .start-date {
          grid-area: start-date;
        }

        .expected-end-date {
          grid-area: expected-end-date;
        }

        .head {
          grid-area: head;
        }

        .person {
          grid-area: person;
        }

        .comment {
          grid-area: comment;
        }
      }
      .button-modal-save-task {
        gap: 8px;
        padding: 10px 20px;
        border-radius: 8px;
        background-color: #2f6ef6;
        color: white;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        cursor: pointer;
      }
    }
  }
}
