@import "./reset";
@import "./mixins";
@import "./fonts/font-family";

* {
  font-family: var(--font-halvar-mittel-regular), sans-serif;
}

body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  box-sizing: border-box;
}

#marker {
  z-index: 199;
  width: 48px;
  height: 48px;
}

#vehicleIcon {
  position: absolute;
  width: 36px;
  height: 36px;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-marker-icon {
  @include flexContent(center, center);
  width: fit-content !important;
  height: fit-content !important;
}

.strokeToMarker #marker path:last-child {
  stroke: white;
}

