@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

:host {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  z-index: 2002;

  @media (max-width: $mobile) {
    bottom: 0;
    right: 0;
    transform: translate(0, 30%);
  }
}

.tracking-objects-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  height: 500px;
  border-radius: 10px 0 0 10px;
  z-index: 2002;
  overflow-y: auto;
  background-color: #121E32;

  @media (max-width: $tablet) {
    width: 200px;
    height: 300px;
  }

  .close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: white;
    height: 100%;
    width: fit-content;

    span {
      font-size: 24px;
    }

    &:hover {
      color: black;
      background-color: white;
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    min-height: max-content;
    overflow-y: auto;
    padding: 20px 10px;

    li {
      @include flexContent(center, flex-start);
      min-height: 50px;
      padding: 10px;
      border-radius: 5px;
      color: white;
      gap: 5px;
      cursor: pointer;

      .list-tracking-object-img {
        width: 30px;
        height: 30px;
        filter: brightness(0) invert(1);
      }

      &:hover {
        background-color: white;
        color: #121E32;

        .list-tracking-object-img {
          filter: brightness(0);
        }
      }
    }
  }
}
