<div class="tracking-objects-list">
  <div class="close-modal" (click)="openTrackingObjectCameraList = !openTrackingObjectCameraList">
    @if (openTrackingObjectCameraList) {
      <span>&#8594;</span>
    } @else {
      <span>&#8592;</span>
    }
  </div>
  @if(openTrackingObjectCameraList) {
    <ul>
      @for (trackingObject of trackingObjects; track $index) {
        <li class="track-list-item" (click)="handleTrackingObjectClick(trackingObject)">
          <img class="list-tracking-object-img" [src]="TrackingObjectUrl[trackingObject.type ?? 'CAR']">
          {{trackingObject.model}}
          {{trackingObject.status}}
          {{trackingObject.imei}}
        </li>
      }
    </ul>
  }
</div>
