<app-map-control (geolocationButtonClick)="showAlert()"></app-map-control>
@if(!selectedTrackingObject) {
  <app-tracking-object-list [trackingObjects]="trackingObjects" (trackingObjectClick)="handleTrackingObjectClick($event)"></app-tracking-object-list>
} @else {
  <app-tracking-object-info [trackingObject]="selectedTrackingObject" (backToTrackingListEvent)="handleBackToTrackingObjectList()" (trackingObjectVideo)="handleTrackingObjectVideo()"></app-tracking-object-info>
}
@if(showTrackingObjectVideo) {
  <app-tracking-object-video (trackingObjectVideoClose)="handleTrackingObjectVideoClose()"></app-tracking-object-video>
}
@if(showCCTVObjects) {
  <app-cctv [cctvObject]="selectedCCTVObject"></app-cctv>
}

<div #map></div>
