@import "../../../styles/mixins";
@import "../../../styles/variables";

.main-page {
  display: flex;
  @include sizes(100%, 100%);
  overflow: hidden;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
  //box-sizing: border-box;
}
