@import "../../../../../styles/mixins";

.tracking-object-video {
  position: absolute;
  top: 0;
  left: 0;
  @include sizes(100dvw, 100dvh);
  @include flexContent(center, center);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
}

.tracking-object-video-container {
  position: relative;
  border-radius: 20px;
}

video {
  @include sizes(1000px, 500px);
  max-width: 100dvw;
  max-height: 100dvh;
  z-index: 5000;
  border-radius: 20px;
  overflow: hidden;
}

.tracking-object-video-close {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 6000;
  color: white;
  cursor: pointer;
}
