@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

.admin-projects-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 140px;
  gap: 20px;

  .admin-project-info {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #121E32;

    .projects-description {
      @include sizes(30%, 100%);
      @include fontSize(24px, 16px);
      color: white;
      padding: 20px;
      @media (max-width: $mobile) {
        padding: 5px;
      }
    }

    .projects-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      @media (max-width: $mobile) {
        padding: 5px;
      }
      @include sizes(max-content, 100%);
      color: white;

      .projects-number {
        @include fontSize(90px, 90px);
        font-weight: bold;
        @media (max-width: $mobile) {
          @include fontSize(60px, 60px);
        }
      }

      .projects-plan-number {
        @extend .projects-number;
        color: #E7683F;
      }
    }
  }
}
